/*La hoja de estilos externa se puede escribir en cualquier editor de texto. El archivo no debe contener ningún código
HTML y debe guardarse con una extensión .css.
Así es como se ve el archivo "CSS3.css"*/

/*PROPIEDADES UTILIZADAS
La propiedad CSS background-color define el color de fondo de un elemento HTML
La propiedad CSS color define el color del texto que se va a utilizar.
La propiedad CSS font-family define la fuente que se va a utilizar.font-family
La propiedad CSS font-size define el tamaño de texto que se va a utilizar.font-size
La propiedad CSS border define un borde alrededor de un elemento HTML.
La propiedad CSS padding define un relleno (espacio) entre el texto y el borde.
La propiedad CSS margin define un margen (espacio) fuera del borde.*/

body {
    background-color: powderblue;
}

h1 {
    color: blue;
    font-family: verdana;
    font-size: 300%;
    border: 2px solid powderblue;
    padding: 30px;
    margin: 50px;
}

p {
    color: red;
    font-family: courier;
    font-size: 160%;
    border: 2px solid powderblue;
    padding: 30px;
    margin: 50px;
}